name: Build and test Extempore

on:
  - push

jobs:
  build:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 120
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest

    steps:
      - if: contains(matrix.os, 'ubuntu')
        name: deps
        run: |
          sudo apt update
          sudo apt-get install libasound2-dev xorg-dev libglu1-mesa-dev

      - name: cache llvm
        id: llvm-cache
        uses: actions/cache@v2
        with:
          path: |
            ./llvm-10.0.1.install
          key: ${{ matrix.os }}-llvm10.0.1-0 # bump this number if you want to trigger an LLVM build 


      - name: download and unpack llvm, nix
        if: steps.llvm-cache.outputs.cache-hit != 'true' && !contains(matrix.os, 'windows')
        run: |
          wget "https://github.com/llvm/llvm-project/releases/download/llvmorg-10.0.1/llvm-10.0.1.src.tar.xz"
          cmake -E tar xJf llvm-10.0.1.src.tar.xz

      - name: download and unpack llvm, windows
        if: contains(matrix.os, 'windows') && steps.llvm-cache.outputs.cache-hit != 'true'
        run: |
          Invoke-webrequest "https://github.com/llvm/llvm-project/releases/download/llvmorg-10.0.1/llvm-10.0.1.src.tar.xz" -outfile llvm-10.0.1.src.tar.xz
          cmake -E tar xJf llvm-10.0.1.src.tar.xz

      - name: configure llvm
        if: steps.llvm-cache.outputs.cache-hit != 'true'
        run: |
          mkdir llvm-10.0.1.build
          mkdir llvm-10.0.1.install
          cd llvm-10.0.1.build
          cmake -DLLVM_TARGETS_TO_BUILD=X86 -DCMAKE_BUILD_TYPE=Release -DLLVM_ENABLE_ZLIB=OFF -DLLVM_INCLUDE_TOOLS=ON -DLLVM_BUILD_TOOLS=OFF -DLLVM_INCLUDE_UTILS=OFF -DLLVM_BUILD_RUNTIME=OFF  -DLLVM_INCLUDE_EXAMPLES=OFF -DLLVM_INCLUDE_TESTS=OFF -DLLVM_INCLUDE_GO_TESTS=OFF -DLLVM_INCLUDE_DOCS=OFF -DCMAKE_INSTALL_PREFIX=../llvm-10.0.1.install ../llvm-10.0.1.src/

      - name: build llvm
        if: steps.llvm-cache.outputs.cache-hit != 'true'
        run: |
          cd llvm-10.0.1.build
          cmake --build . --config Release -j2
          cmake --build . --config Release -j2 --target llvm-as

      - name: install llvm
        if: steps.llvm-cache.outputs.cache-hit != 'true'
        run: |
          cd llvm-10.0.1.build
          cmake --install .
          tree /F ../llvm-10.0.1.install
          tree /F $GITHUB_WORKSPACE/llvm-10.0.1.install
          cp ${{ matrix.bin-path }}bin/llvm-as* $GITHUB_WORKSPACE/llvm-10.0.1.install/bin/

      - uses: actions/checkout@v2
        with:
          path: extempore

      - name: configure extempore
        run: |
          cd extempore
          mkdir build
          cd build
          cmake -DASSETS=ON -DLLVM_DIR=$GITHUB_WORKSPACE/llvm-10.0.1.install/lib/cmake/llvm/ ${{ matrix.cmake-generator }} ..

      - name: build extempore
        run: |
          cd extempore/build
          env EXT_LLVM_DIR=$GITHUB_WORKSPACE/llvm-10.0.1.install cmake --build . -j2 --config Release

      - name: test
        run: |
          cd extempore/build
          ctest --build-config Release --label-regex libs-core
